* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkgrey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  border: 1px solid black;
  box-sizing: border-box;
}

.title{
  font-size: clamp(2rem, 6vw, 4rem);
  margin-bottom: 2rem;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 3rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  
}

.textLogin {
  font-size: clamp(1.2rem, 3vw, 2rem);
  margin-bottom: 1rem;
  font-style: italic;
  text-align: center;
  font-family: 'Inter', sans-serif;
  
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  max-height: 50px;
  margin-bottom: 1rem;
}

.inputGroup input {
  height: 4rem;
  border-radius: 4px;
  border: 3px solid black;
  padding-left: 10px;
  font-weight: bold;
}

.inputGroup input:focus {
  outline: none;
  border: 3px solid royalblue;
}

.inputGroup label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.containerForgotPassword {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.forgotPassword {
  color: blue;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.loginButton {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 3rem;
  transition: background-color 0.3s ease;
}

 /* @media (max-width: 1300px) {
  .container h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .textLogin {
    font-size: 1.2rem;
  }

  .forgotPassword {
    font-size: 0.7rem;
  }

  .containerForm {
    width: 100%;
    max-width: 50vw;

    padding: 1.5rem;
  }
  .inputGroup{
    width: 40vw;

  }

  .loginButton {
    font-size: 1rem;
  }
}  */


