* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f4f4; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f4f4f4; 
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.containerForm {
  width: 100%;
  background-color: transparent; 
}

.containerForm form{
  background-color: transparent;
}

.textLogin {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #333; 
  text-align: center;
  background-color: transparent; 
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: transparent;
}

.label {
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #555; 
  background-color: transparent; 
}

.input {
  padding: 0.75rem 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #fff; /* Fundo branco dos inputs */
  color: #333; /* Cor do texto dos inputs */
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}


.containerForgotPassword {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  background-color: transparent;
}

.forgotPassword {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  background-color: transparent; /* Garantindo fundo transparente */
}

.forgotPassword:hover {
  color: #0056b3;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}
