
.sidebar {
  background-color: #f0f0f0;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.titleNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.titleNav img {
  width: 80px;
  margin-bottom: 10px;
}

.titleNav h2 {
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

.contentNav {
  width: 100%;
}

.contentNav button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 8px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  transition: background-color 0.3s ease;
}

.contentNav button:hover {
  background-color: #e0e0e0;
}

.contentNav .active {
  background-color: #007bff;
  color: white;
}

.contentNav .active:hover {
  background-color: #0056b3;
}

.main {
  flex-grow: 1;
  padding: 30px;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
}

.containerTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.containerTitle h1 {
  color: #333;
  margin: 2rem;
}

.tableBox {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.groupButtons button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.buttonAdd {
  background-color: #28a745;
  color: white;
}

.buttonAdd:hover {
  background-color: #1e7e34;
}

.buttonEdit {
  background-color: #007bff;
  color: white;
}

.buttonEdit:hover {
  background-color: #0056b3;
}

.buttonDel {
  background-color: #dc3545;
  color: white;
}

.buttonDel:hover {
  background-color: #c82333;
}

.searchBox input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.tableBox table {
  width: 100%;
  border-collapse: collapse;
}

.tableBox th, .tableBox td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.tableBox th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tableBox tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableBox tr:hover {
  background-color: #e0e0e0;
}




.addLocalModal {
  position: fixed; /* Fica fixo na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Largura do modal */
  max-width: 600px; /* Largura máxima do modal */
}

.modalContent h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.modalContent label {
  display: block;
  margin-bottom: 5px;
  color: #555;

}

.modalContent input[type="text"],
.modalContent input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modalContent button[type="submit"],
.modalContent button:not([type="submit"]) {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-right: 10px;
}

.modalContent button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.modalContent button[type="submit"]:hover {
  background-color: #1e7e34;
}

.modalContent button:not([type="submit"]) { /* Estilo para o botão "Fechar" */
  background-color: #dc3545;
  color: white;
}

.modalContent button:not([type="submit"]):hover {
  background-color: #c82333;
}

