*{
    overflow: hidden;
}

.container{
    display: flex;
    border: 1px solid black;
    
}

.sidebar{
    width: 20vw;
    height: 100vh;
    border: 1px solid black;
    
}

.sidebar button.active {
  background-color: #555;
  color: white;
}

.titleNav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 20%;
}

.titleNav img{
    width: 100px;
    border-radius: 100px;
    height: auto;
}

.contentNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    height: 80vh;

}

.contentNav button{
    margin: 8px;
    width: 60%;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

.contentNav button:hover{
    background-color: mediumslateblue;
}

.main{
    width: 100%;
    border: 1px solid black;
}

.main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    
    
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
}

.groupcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 50%;  
    margin: 1rem;

}

.card{
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    width: 40%;
}

.searchBox{
    width: 100%;
    text-align: end;
    
}

.searchBox input{
    width: 70%;
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 1rem;
}

.tableContainer{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.tableBox{
    width: 100%;
    border-bottom: 1px solid black;
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
    background-color: lightgray;
}